@import 'reset.css';

:root {
	--main-font: 'Anton', serif;
	--secondary-font: 'Roboto';
	--tertiary-font: 'Noto Sans KR', serif;
}

::selection {
	background-color: black;
	color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none;
}

body {
	background-color: #fff;
	font-family: var(--main-font);
}

.scroll::-webkit-scrollbar {
	display: none;
}

.header-wrapper {
	width: 100%;
	height: auto;
	padding: 20px 50px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	mix-blend-mode: difference;
	z-index: 5;
}

.logo {
	height: 120px;
	cursor: pointer;
}

.icon-nav {
	position: relative;
	display: flex;
	gap: 35px;
}

.search {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	padding-top: 15px;
	letter-spacing: 1px;
	background-color: black;
	color: white;
}

.search-bar {
	width: 100%;
	height: 22px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid white;
}

.search-bar input {
	width: 100%;
	font-size: 12px;
	font-weight: 500;
	font-family: var(--secondary-font), var(--tertiary-font);
	background-color: black;
	color: white;
}

.search-bar label {
	font-size: 20px;
	cursor: pointer;
}

.search-bar label:hover {
	border-bottom: 1px solid white;
}

.serach-btn:hover .search {
	display: block;
}

.language {
	display: none;
	position: absolute;
	left: 0;
	padding: 15px 0 0 10px;
	letter-spacing: 1px;
	background-color: black;
	color: white;
}

.language-list {
	display: flex;
	gap: 24px;
	font-size: 20px;
}

.globe-btn:hover .language {
	display: block;
}

.icon-nav > button > img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.shopping-bag-btn {
	position: relative;
}

.quantity-icon {
	position: absolute;
	bottom: 12px;
	right: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 11px;
	font-weight: 600;
	color: black;
	background: white;
	font-family: var(--secondary-font);
}

.menu-close-btn {
	display: none;
}

.popup-background {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: lightgray;
	opacity: 0.5;
	z-index: 4;
}

.popup-wrapper {
	display: none;
	position: fixed;
	right: 0;
	width: 400px;
	height: 100vh;
	padding: 160px 50px 46px;
	color: #000;
	background-color: #fff;
	border-left: 1px solid black;
	font-size: 12px;
	font-weight: 500;
	font-family: var(--secondary-font), var(--tertiary-font);
	z-index: 4;
}

.popup-wrapper a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.popup-close-btn {
	width: 100%;
	display: flex;
	justify-content: end;
	padding-bottom: 24px;
	cursor: pointer;
}

.popup-close-btn img {
	height: 14px;
}

.login-outer-wrapper {
	display: none;
}

.login-wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.login-form input {
	width: 100%;
	height: 50px;
	padding: 0 10px;
	font-weight: 600;
	border-bottom: 1px solid black;
}

.find-btn-wrapper,
.order-check-btn {
	text-align: right;
}

.auth-btn-wrapper button {
	width: 100%;
	border: 1px solid black;
	margin-bottom: 5px;
	text-align: center;
}

.auth-btn-wrapper a {
	display: block;
	width: 100%;
	padding: 16px 0;
}

.sign-in-btn {
	color: #fff;
	background-color: #000;
}

.sign-up-btn {
	color: #000;
	background-color: #fff;
}

.shopping-bag-outer-wrapper {
	display: none;
	height: 100%;
}

.shopping-bag-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bag-empty-message {
	text-align: center;
	padding: 10px 0;
}

.bag-filled-wrapper {
	display: flex;
	gap: 15px;
	width: 100%;
}

.bag-img-wrapper {
	width: 135px;
}

.bag-img-wrapper img {
	width: 100%;
}

.bag-desc-wrapper {
	width: calc(100% - 135px);
	line-height: 1.6;
}

.bag-product-name {
	white-space: nowrap;
	overflow: auto;
	scrollbar-width: auto;
	height: auto;
}

.bag-price-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bag-quantity-wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 5px 0;
}

.bag-quantity-wrapper img {
	height: 24px;
	padding: 5px;
	cursor: pointer;
}

.checkout-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.total-price-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 900;
}

.checkout-btn {
	width: 100%;
	text-align: center;
	background-color: #000;
	color: white;
	font-size: 15px;
}

.checkout-btn a {
	display: block;
	width: 100%;
	padding: 16px 0;
}

.burger-menu-wrapper {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 180px 50px;
	overflow: auto;
	background-color: #fff;
	z-index: 3;
}

.burger-menu {
	font-size: 140px;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
}

.ffats {
	color: #ff73be;
}

.main-wrapper {
	height: auto;
	padding: 160px 100px 0px 100px;
	z-index: 0;
}

.category {
	display: flex;
	justify-content: center;
	gap: 136px;
	padding: 10px 0 10px 0;
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
}

.category li {
	border-bottom: 4px solid transparent;
}

.category li:hover {
	border-bottom: 4px solid black;
}

.product-wrapper {
	padding-top: 50px;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
}

.product {
	width: 25%;
	height: auto;
	position: relative;
	padding-bottom: 60px;
}

.product-img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}

.product-img-back {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 0;
}

.product:hover .product-img {
	opacity: 0;
}

.product:hover .product-img-back {
	opacity: 1;
}

.product-desc {
	font-family: var(--secondary-font);
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	line-height: 1.6;
}

.discount-price {
	text-decoration-line: line-through;
}

.sort-btn-wrapper {
	position: relative;
	display: flex;
	justify-content: end;
	padding-top: 50px;
}

.sort-btn {
	width: 120px;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 10px;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
}

.sort-btn-icon {
	height: 16px;
}

.sort-list-wrapper {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 120px;
	padding: 18px 10px;
	background-color: #fff;
	z-index: 3;
}

.active {
	display: block;
}

.inactive {
	display: none;
}

.sort-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sort-list li {
	font-size: 20px;
	cursor: pointer;
}

.sort-list a:hover {
	text-decoration: underline;
}

.pagination-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 26px;
	padding: 20px 0 20px;
}

.pagination-number-list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.pagination-number-list li {
	font-family: var(--secondary-font);
	font-size: 12px;
	font-weight: 500;
}

.pagination-number-list li > a:hover {
	text-decoration: underline;
}

.current-page a {
	border-bottom: 1px solid black;
}

.prev-button img,
.next-button img {
	width: 12px;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	margin-top: 100px;
	font-family: var(--secondary-font), var(--tertiary-font);
	font-weight: 500;
}

.text-logo {
	width: 130px;
}

.footer-link-list {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	font-size: 12px;
}

.footer-link-list > li > a:hover {
	text-decoration: underline;
}

.footer-info {
	width: 370px;
	display: flex;
	flex-direction: column;
	text-align: right;
	font-size: 10px;
	line-height: 1.6;
}
