@import 'reset.css';

:root {
	--main-font: 'Anton', serif;
	--secondary-font: 'Roboto';
	--tertiary-font: 'Noto Sans KR', serif;
}

::selection {
	background-color: black;
	color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none;
}

body {
	background-color: #fff;
	font-family: var(--main-font);
}

.scroll::-webkit-scrollbar {
	display: none;
}

.header-wrapper {
	width: 100%;
	height: auto;
	padding: 20px 50px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	mix-blend-mode: difference;
	z-index: 5;
}

.logo {
	height: 120px;
	cursor: pointer;
}

.icon-menu {
	display: flex;
	gap: 35px;
}

.icon-menu > button > img {
	height: 30px;
	cursor: pointer;
}

.burger-nav-wrapper {
	width: 100%;
	height: 100%;
	padding: 180px 50px;
}

.burger-nav {
	font-size: 140px;
	font-weight: 500;
	line-height: 1.1;
}

.ffats {
	color: #ff73be;
}

.main-wrapper {
	height: auto;
	padding: 160px 100px 0px 100px;
	z-index: 0;
}

.category {
	display: flex;
	justify-content: center;
	gap: 136px;
	padding: 10px 0 10px 0;
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
}

.category li {
	border-bottom: 4px solid transparent;
}

.category li:hover {
	border-bottom: 4px solid black;
}

.product-wrapper {
	padding-top: 50px;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
}

.product {
	width: 25%;
	height: auto;
	position: relative;
	padding-bottom: 60px;
}

.product-img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}

.product-img-back {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 0;
}

.product:hover .product-img {
	opacity: 0;
}

.product:hover .product-img-back {
	opacity: 1;
}

.product-desc {
	font-family: var(--secondary-font);
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	line-height: 1.6;
}

.discount-price {
	text-decoration-line: line-through;
}

.sort-btn-wrapper {
	position: relative;
	display: flex;
	justify-content: end;
	padding-top: 50px;
}

.sort-btn {
	width: 120px;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 10px;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
}

.sort-btn-icon {
	height: 16px;
}

.sort-list-wrapper {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 120px;
	padding: 18px 10px;
	background-color: #fff;
	z-index: 3;
}

.active {
	display: block;
}

.sort-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sort-list li {
	font-size: 20px;
	cursor: pointer;
}

.sort-list a:hover {
	text-decoration: underline;
}

.pagination-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 26px;
	padding: 20px 0 20px;
}

.pagination-number-list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.pagination-number-list li {
	font-family: var(--secondary-font);
	font-size: 12px;
	font-weight: 500;
}

.pagination-number-list li > a:hover {
	text-decoration: underline;
}

.current-page a {
	border-bottom: 1px solid black;
}

.prev-button img,
.next-button img {
	width: 12px;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	margin-top: 100px;
	font-family: var(--secondary-font), var(--tertiary-font);
	font-weight: 500;
}

.text-logo {
	width: 130px;
}

.footer-link-list {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	font-size: 12px;
}

.footer-link-list > li > a:hover {
	text-decoration: underline;
}

.footer-info {
	width: 370px;
	display: flex;
	flex-direction: column;
	text-align: right;
	font-size: 10px;
	line-height: 1.6;
}
