@import 'reset.css';

:root {
	--main-font: 'Anton', serif;
	--secondary-font: 'Roboto', serif;
}

::selection {
	background-color: black;
	color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none;
	font-family: var(--main-font);
}

body {
	background-color: #fff;
}

.scroll::-webkit-scrollbar {
	display: none;
}

.header-wrapper {
	width: 100%;
	height: auto;
	padding: 20px 50px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	mix-blend-mode: difference;
	z-index: 5;
}

.logo {
	height: 120px;
	cursor: pointer;
}

.icon-menu {
	display: flex;
	gap: 35px;
}

.icon-menu > button > img {
	height: 30px;
	cursor: pointer;
}

.main-wrapper {
	position: relative;
	height: 1000vh; /* 임시 높이 */
	padding: 160px 100px 0px 100px;
	z-index: 0;
}

.category {
	display: flex;
	justify-content: center;
	gap: 136px;
	padding: 10px 0 10px 0;
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
}

.category li:hover {
	border-bottom: 4px solid black;
}
