@import 'reset.css';

:root {
	--main-font: 'Anton', serif;
	--secondary-font: 'Roboto', serif;
	/* 다른 변수도 추가 */
}

::selection {
	background-color: black;
	color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none;
	font-family: var(--main-font);
}

body {
	background-color: #fff;
}

.scroll::-webkit-scrollbar {
	display: none;
}

.header-container {
	width: 100%;
	height: auto;
	padding: 20px 50px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	mix-blend-mode: difference;
	z-index: 5;
}

.logo-img {
	height: 120px;
	cursor: pointer;
}

.icon-nav {
	display: flex;
	gap: 35px;
}

.icon-nav > button > img {
	height: 30px;
	cursor: pointer;
}
